@page "/login"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components.Authorization
@using System.ComponentModel.DataAnnotations
@using Sam530.Services
@inject RadiusService AuthService
@inject NavigationManager Navigation

<h3>Login</h3>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger">@errorMessage</div>
}

<EditForm Model="@loginModel" OnValidSubmit="@LoginUser" FormName="frmLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label for="username" class="form-label">User</label>
        <InputText id="username" class="form-control" @bind-Value="loginModel.Username" />
        <ValidationMessage For="@(() => loginModel.Username)" />
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="loginModel.Password" />
        <ValidationMessage For="@(() => loginModel.Password)" />
    </div>
    <button class="btn btn-primary" type="submit">Sign in</button>
</EditForm>

@inject UserSessionService Session
@code {
    private LoginModel loginModel = new();
    private string? errorMessage;

    public class LoginModel
    {
        [Required(ErrorMessage = "User is mandatory")]
        public string Username { get; set; } = string.Empty;

        [Required(ErrorMessage = "Password is mandatory")]
        public string Password { get; set; } = string.Empty;
    }

    private async Task LoginUser()
    {
        var ok = await AuthService.LoginAsync(loginModel.Username, loginModel.Password);
        if (ok)
        {
            await Session.LoginAsync(loginModel.Username);
            Navigation.NavigateTo("/",forceLoad:true);
        }
        else
        {
            errorMessage = "Wrong user or password";
        }
    }
}
